@model IEnumerable<SISTEMA_AULA.MODEL.Models.TipoProduto>

@{
    ViewData["Title"] = "Index";
}

<h1>Listagem de Tipos de Produto</h1>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fa-regular fa-file"></i>&nbsp;Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipCodigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipDescricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipDestivado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TipCodigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipDescricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipDestivado)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.TipCodigo }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.TipCodigo }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.TipCodigo })
                </td>
            </tr>
        }
    </tbody>
</table>
