@model SISTEMA_AULA.MODEL.Models.Unidade

@{
    ViewData["Title"] = "Excluir";
}

<h1>Excluir Unidade</h1>

<h3>Deseja realmente excluir o registro?</h3>
<div>
    <h4>Unidade</h4>
    <hr />

    <form asp-action="Delete">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UnCodigo)
            </dt>
            <dd class="col-sm-10">
                @Html.EditorFor(model => model.UnCodigo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UnDescricao)
            </dt>
            <dd class="col-sm-10">
                @Html.EditorFor(model => model.UnDescricao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UnDesativado)
            </dt>
            <dd class="col-sm-10">
                @Html.EditorFor(model => model.UnDesativado)
            </dd>
        </dl>

        <input type="submit" value="Sim, Excluir" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Voltar para a Lista</a>
    </form>
</div>
